.list-entry {
    margin-top: 15px;
}

.expired {
    background-color: salmon;
}

.due {
    background-color: lightblue;
}

.completed {
    background-color: lightgreen;
}

.expired-btn, .completed-btn {
    display: none;
}

.pr-text {
    text-transform: uppercase;
}

.high {
    color: red;
    font-weight: bold;
}

.moderate {
    color: black;
}

.marginLeft {
    margin-left: 8px;
}

.marginRight {
    margin-right: 12px;
}

.marginRightZero {
    position: absolute;
    right: 2%;
}